<p>Nombre del empleado: {{nombre}} {{getApellidos()}}</p>
<p>Edad: {{edad + 10}}</p>
<!--<p>Rol 1 en la empresa: {{rol.value}}</p>--->
<p>Rol 1 en la empresa: {{rol}}</p>
<p>Rol 2 en la empresa: {{rolBtn.value}}</p>
<p>{{(edad < 18) ? 'Es menor de edad':'Es mayor de edad'}}</p><!--Operador Ternario: condición ? valor True : valor false-->
<hr class="linea-separadora">
<br>
<label>Introduce tu rol en la empresa:</label>
<br><br>
<!--<input type="text" #rol id="" (keyup)='0'>Enviamos los datos sin necesidad de utilizar un btn-->
<!--<input type="text" (input)='modificarRol($event)'>--->
<input type="text" [(ngModel)]='rol'>
<label>Se envia el texto sin utilizar el btn</label>
<br><br>
<input type="text" #rolBtn id="" [disabled]="cajaCapturaTexto"><!--#rol identificamos el elemento html dentro del DOM-->
<br><br>
<!--<button (click)='enviarRol(rol.value)'>Enviar Rol</button>--->
<button>Enviar Rol</button><!--Btn no funcional--->
<br><br>
{{textoInfoRegistrado}}
<br>
<label>Registro:</label>
<input type="checkbox" name="" id="registro" [checked]="usuRegis" (click)="setUsuRegisEvent()">
<br>
<br>
<hr class="linea-separadora">
<br>
<label>Registro 2:</label>
<input type="radio" name="RegisN" value="si" id="registro" [checked]="usuRegis" (click)="setUsuRegisEvent2($event)">
<br>
<label>No Registrado:</label>
<input type="radio" name="RegisN" value="no" id="registro" [checked]="usuRegis" (click)="setUsuRegisEvent2($event)">
{{getUsuRegis()}}<!--Interpolación--->
<br><br>
<hr class="linea-separadora">
