<h1>{{title}}</h1>
<!--Envia los datos para realizar la respectiva operación Aritmética--->
<form action="" method="post">
  <label>Numero 1</label>
  <br>
  <input type="text" name="num1" id="campo-1" [(ngModel)]='num1'>
  <br><br>
  <label>Numero 2</label>
  <br>
  <input type="text" name="num2" id="campo-2" [(ngModel)]='num2'>
  <br><br>
  <!--Btns de Operaciones--->
  <button type="submit" class="btns" (click)='sumar()'>Sumar</button>
  <button type="submit" class="btns" (click)='restar()'>Restar</button>
  <button type="submit" class="btns" (click)='multiplicar()'>Multiplicar</button>
  <button type="submit" class="btns" (click)='dividir()'>Dividir</button>
  <br><br>
  <label>Resultado: {{result}}</label>
</form>